.parking-busy {
	border: 1px solid rgb(231, 76, 60);
	background-color: rgba(231, 76, 60, 0.7);
	background-image: 
		linear-gradient(45deg, 
		  transparent 15%,  
		  rgba(0,0,0,0.1) 15%, 
		  rgba(0,0,0,0.1) 50%, 
		  transparent 50%, 
		  transparent 65%,
		  rgba(0,0,0,0.1) 69%);
	background-size: 6px 6px;
}

.parking-free {
	border: 1px solid rgb(46, 204, 113);
	background-color: rgba(46, 204, 113, 0.7);
}

.parking-area {
	color: rgba(255, 255, 255, .5);
	font-family: Helvetica;
	font-size: 25px;
	padding: 5px;
	box-sizing: border-box;
	text-align: center;
	vertical-align: middle;
	display: flex;
	justify-content: center;
	align-self: center;
	flex-direction: column;
}